@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

html {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Josefin Sans", "Noto Sans KR", sans-serif;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_02.png);
}

/* 헤더 */
header {
    position: fixed;
    display: block;
    width: 100%;
    height: 85px;
    padding-top: 40px;
    padding-right: 40px;
    float: right;
    top: 0;
    right: 0;
    z-index: 10;
}
header ul {
    position: absolute;
    width: auto;
    height: 33px;
    top: 22px;
    right: 6%;
    z-index: 1100;
    list-style: none;
    margin: 0;
    padding: 0;
}
header ul li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0 10px;
}
header ul li a {
    box-sizing: border-box;
    display: block;
    width: auto;
    height: 28px;
    overflow: hidden;
    margin: 0;
    padding: 4px 0 0 0;
    color: #fff2ef;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.3s ease;
}
header ul li a.on {
    color: #000;
}
header ul li a:hover {
    color: #fdbe00;
    border-bottom: 4px solid #fdbe00;
}
header ul li.active a {
    color: #fdbe00;
    border-bottom: 4px solid #fdbe00;
}

/* 홈_페이지 */
.contents {
    display: block;
    width: 100%;
    height: 100%;
}
.contents section {
    display: none;
}
.contents section.active {
    display: block;
}
section.home_page {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
section.home_page .home_box {
    display: block;
    width: 100%;
    height: 100%;
}
section.home_page .home_box:after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    background: #fdbe00;
    top: 50%;
    transform: translateY(-50%);
    animation: move 3s forwards;
}
@keyframes move {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
section.home_page .home_box span {
    color: #9b9b9b;
    font-size: 15px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
section.home_page .home_box .home_cover {
    border-radius: 100%;
    box-shadow: 0px 0px 100px #fdbe00;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
}
section.home_page .home_box .home_cover .cover_box {
    position: relative;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
section.home_page .home_box .home_cover .cover_box img.logo {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
}
section.home_page .home_box .home_cover .cover_box img.gif_bg {
    position: absolute;
    top: -190px;
}
/* active box */
section.about_page {
    height: auto;
}
section.ptf_page {
    height: auto;
}
section.prc_page {
    height: auto;
}

/* about_page*/
.about_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_01.png)
        repeat-y center top;
}

.about_left {
    float: left;
    width: 33%;
    height: auto;
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_02.png)
        repeat center top;
}
.about_left .about_left_box {
    position: fixed;
    width: 33%;
    height: 100%;
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_02.png)
        repeat-y center top;
    background-size: 100%;
    z-index: 10;
}
.about_left .about_left_box .leftbox_01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.about_left .about_left_box .leftbox_01 .left_bg {
    position: relative;
    width: 100%;
    vertical-align: top;
}
.about_left .about_left_box .leftbox_01 .left_bg > img {
    width: 100%;
    vertical-align: top;
}
.about_left .about_left_box .leftbox_02 {
    z-index: 101;
    border-top: #aaa solid 1px;
    position: absolute;
    bottom: 25px;
    width: 90%;
    height: auto;
    margin-left: 5%;
    line-height: 19px;
    font-size: 18px;
    color: #aaa;
    text-align: center;
    padding: 13px 2px 0 2px;
    box-sizing: border-box;
}
.about_left .about_left_box .leftbox_02 .leftbox_02_inner p {
    font-size: 12px;
    margin-top: 20px;
}
.about_right {
    background: #fff2ef;
    float: right;
    width: 67%;
    overflow: hidden;
    box-sizing: border-box;
}
.about_right_box {
    clear: both;
    padding-top: 85px;
    padding-bottom: 40px;
    height: auto;
}
.about_right_box .about_main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 2% 0 0 0;
}
.about_right_box .about_main .main {
    padding: 0 10%;
}
.about_right_box .about_main .main .main_tit {
    position: relative;
    margin-bottom: 45px;
}
.about_right_box .about_main .main .main_tit:before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 6px;
    height: 2px;
    background: #2d2d2d;
    right: 0;
}
.about_right_box .about_main .main .main_tit > p {
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 600;
    color: #2a2a2a;
    padding-left: 0;
    padding-right: 14px;
    position: relative;
    z-index: 2;
    line-height: 1;
    background: #fff2ef;
}
.about_right_box .about_main .main .main_list {
    box-sizing: border-box;
    margin-bottom: 100px;
}
.about_right_box .about_main .main .main_list ul {
    margin: 0;
    padding: 0;
    position: relative;
}
.about_right_box .about_main .main .main_list ul li {
    margin-bottom: 50px;
    margin-left: 30px;
}
.about_right_box .about_main .main .main_list ul li:before {
    content: "";
    width: 5px;
    height: 5px;
    border: 2px solid #000;
    border-radius: 20px;
    position: absolute;
    left: 10px;
    margin-top: 5px;
}
.about_right_box .about_main .main .main_list ul li span.tit {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    width: 150px;
}
.about_right_box .about_main .main .main_list ul li span.sub {
    font-size: 17px;
    font-weight: normal;
}

/* 프로필 */
.about_right_box .about_main .main .main_list ul.id_box {
    position: relative;
}
.about_right_box .about_main .main .main_list ul nav.id_pic {
    box-sizing: border-box;
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.about_right_box .about_main .main .main_list ul nav.id_pic img {
    display: block;
    width: 100%;
}

/* 자격증 */
.about_right_box .about_main .main .main_list.main_certificate ul {
    margin-bottom: 50px;
}
.about_right_box .about_main .main .main_list.main_certificate ul h4 {
    font-size: 19px;
    display: block;
    margin-bottom: 20px;
}

/* 자격증이미지 슬릭 */
.certi_box .slider-box-1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.certi_box .slider-box-1 .slick .item {
    outline: 0;
    transition: transform 0.3s;
}

.certi_box .slider-box-1 .slick .item > .img-box {
    padding-top: 120px;
    padding-bottom: 120px;
}

.certi_box .slider-box-1 .slick .item.slick-center {
    transform: scale(2.3);
}

.certi_box .slider-box-1 .arrows > .btn-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 30px);
    cursor: pointer;
}

.certi_box .slider-box-1 .arrows > .btn-arrow:active {
    transform: translateY(-45%);
}

.certi_box .slider-box-1 .arrows > .btn-arrow.btn-arrow-right {
    left: calc(100% + 30px);
    right: auto;
}
/* 스킬박스 */
.skill_bar {
    width: 100%;
    padding: 25px 30px;
    margin: 0 auto;
    box-sizing: border-box;
}
.skill_bar .bar {
    margin: 20px 0px;
}
.skill_bar .bar:first-child {
    margin-top: 0px;
}

.skill_bar .bar .info {
    margin-bottom: 5px;
}
.skill_bar .bar .info span {
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 1.5s 3s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}
.skill_bar .bar .progress_line {
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px inset,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px inset;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.skill_bar .bar .progress_line span {
    height: 100%;
    width: 80%;
    background: #000;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.skill_bar .bar .progress_line.html span {
    width: 85%;
}

.skill_bar .bar .progress_line.java span {
    width: 75%;
}

.skill_bar .bar .progress_line.ps span {
    width: 90%;
}

.skill_bar .bar .progress_line.ai span {
    width: 90%;
}

.skill_bar .bar .progress_line.id span {
    width: 80%;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.skill_bar .bar .progress_line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.skill_bar .bar .progress_line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}
.skill_bar .bar .progress_line.html span::after {
    content: "85%";
}

.skill_bar .bar .progress_line.java span::after {
    content: "75%";
}

.skill_bar .bar .progress_line.ps span::after {
    content: "90%";
}

.skill_bar .bar .progress_line.ai span::after {
    content: "90%";
}

.skill_bar .bar .progress_line.id span::after {
    content: "80%";
}

/* 사이즈 조절 */
@media (max-width: 1580px) {
    .about_right_box .about_main .main {
        padding: 0 5%;
    }
    .about_right_box .about_main .main .main_tit {
        margin-bottom: 25px;
    }
    .about_right_box .about_main .main .main_tit > p {
        font-size: 20px;
    }
    .about_right_box .about_main .main .main_list ul li {
        margin-bottom: 30px;
    }
    .about_right_box .about_main .main .main_list ul li a .m_img {
        margin-right: 25px;
    }
    .about_right_box .about_main .main .main_list ul li a .main_info .theme {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .about_right_box .about_main .main .main_list ul li a .main_info .logo {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 1008px) {
    .about_right_box .about_main .main .main_list ul li a .m_img img {
        width: 100%;
    }
}
@media (max-width: 940px) {
    .about_right_box .about_main .main {
        padding: 0 3%;
    }
    .about_right_box .about_main .main .main_list ul li a .main_info .theme {
        font-size: 10px;
        margin-bottom: 3px;
        letter-spacing: 4px;
    }
    .about_right_box .about_main .main .main_list ul li a .main_info .logo {
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 15px;
    }
}
@media (max-width: 800px) {
    header {
        background-color: rgba(255, 255, 255, 0.27);
        z-index: 11111;
    }
    .about_left {
        float: none;
        display: block;
        width: 100%;
        height: auto;
    }
    .about_left .about_left_box {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 100% 0 53%;
        background-size: 100%;
        z-index: 10;
    }
    .about_left .about_left_box .leftbox_01 {
        height: 100%;
    }
    .about_right {
        float: none;
        width: 100%;
        overflow-y: auto;
        box-sizing: border-box;
    }
    .about_right .about_right_box {
        clear: both;
        padding-top: 10px;
        padding-bottom: 30px;
        height: auto;
    }
    .about_right .about_right_box .about_main {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 5% 0 0 0;
        box-sizing: border-box;
    }
    .about_right .about_right_box .about_main .main {
        padding: 15px 10px;
    }
    .about_right .about_right_box .about_main .main .main_tit {
        margin-bottom: 15px;
        padding-top: 10px;
    }
    .about_right .about_right_box .about_main .main .main_list ul li {
        margin-bottom: 18px;
    }
    .about_right .about_right_box .about_main .main .main_list ul li a .m_img {
        width: 42%;
        margin-right: 10px;
    }
    .about_right_box .about_main .main .main_list ul li a .main_info {
        width: 58%;
        padding-right: 10px;
    }
    .about_right_box .about_main .main .main_list ul li a .main_info .logo {
        font-size: 14px;
        letter-spacing: -1px;
        margin-bottom: 6px;
    }
}
@media (max-width: 680px) {
    .about_left .about_left_box .leftbox_02 {
        position: absolute;
        bottom: 1px;
        width: 90%;
        height: auto;
        margin-left: 5%;
        line-height: 14px;
        font-size: 14px;
        text-align: center;
        padding: 4px 2px 0 2px;
        box-sizing: border-box;
    }
}

/* portfolio_page */
.portfolio_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_01.png)
        repeat-y center top;
}

.port_left {
    float: left;
    width: 33%;
    height: auto;
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_02.png)
        repeat center top;
}
.port_left .port_left_box {
    position: fixed;
    width: 33%;
    height: 100%;
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_02.png)
        repeat-y center top;
    background-size: 100%;
    z-index: 10;
}
.port_left .port_left_box .leftbox_01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.port_left .port_left_box .leftbox_01 .left_bg {
    position: relative;
    width: 100%;
    vertical-align: top;
}
.port_left .port_left_box .leftbox_01 .left_bg > img {
    width: 100%;
    vertical-align: top;
}
.port_left .port_left_box .leftbox_02 {
    z-index: 101;
    border-top: #aaa solid 1px;
    position: absolute;
    bottom: 25px;
    width: 90%;
    height: auto;
    margin-left: 5%;
    line-height: 19px;
    font-size: 18px;
    color: #aaa;
    text-align: center;
    padding: 13px 2px 0 2px;
    box-sizing: border-box;
}
.port_left .port_left_box .leftbox_02 .leftbox_02_inner p {
    font-size: 12px;
    margin-top: 20px;
}
.port_right {
    background: #fff2ef;
    float: right;
    width: 67%;
    overflow: hidden;
    box-sizing: border-box;
}
.port_right_box {
    clear: both;
    padding-top: 85px;
    padding-bottom: 40px;
    height: auto;
}
.port_right_box .port_main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 2% 0 0 0;
}
.port_right_box .port_main .main {
    padding: 0 10%;
}
.port_right_box .port_main .main .main_tit {
    position: relative;
    margin-bottom: 45px;
}
.port_right_box .port_main .main .main_tit:before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 6px;
    height: 2px;
    background: #2d2d2d;
    right: 0;
}
.port_right_box .port_main .main .main_tit > p {
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 600;
    color: #2a2a2a;
    padding-left: 0;
    padding-right: 14px;
    position: relative;
    z-index: 2;
    line-height: 1;
    background: #fff2ef;
}
.port_right_box .port_main .main .main_list ul li {
    margin-bottom: 50px;
}
.port_right_box .port_main .main .main_list ul li a.m_list {
    display: flex;
    align-items: center;
    background: #fff;
    transition: all 0.5s ease;
}
.port_right_box .port_main .main .main_list ul li a.m_list:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.port_right_box .port_main .main .main_list ul li a .m_img {
    width: 39%;
    margin-right: 63px;
}
.port_right_box .port_main .main .main_list ul li a.m_list .m_img img {
    width: 100%;
}
.port_right_box .port_main .main .main_list ul li a.m_list .m_img img.on {
    display: none;
}
.port_right_box
    .port_main
    .main
    .main_list
    ul
    li
    a.m_list:hover
    .m_img
    img.off {
    display: none;
}
.port_right_box .port_main .main .main_list ul li a.m_list:hover .m_img img.on {
    display: block;
}
.port_right_box .port_main .main .main_list ul li a.m_list .main_info {
    width: 61%;
    position: relative;
}
.port_right_box .port_main .main .main_list ul li a.m_list .main_info .theme {
    font-size: 18px;
    color: #9b9b9b;
    margin-bottom: 25px;
    letter-spacing: 7px;
}
.port_right_box .port_main .main .main_list ul li a.m_list .main_info .logo {
    font-size: 28px;
    line-height: 42px;
    color: #2a2a2a;
    font-weight: 600;
    margin-bottom: 150px;
    transition: all 0.5s ease;
    display: inline-block;
    vertical-align: top;
    transition: all 0.5s ease;
}
.port_right_box
    .port_main
    .main
    .main_list
    ul
    li
    a.m_list:hover
    .main_info
    .logo {
    box-shadow: inset 0 -12px 0 #b9e5fb;
}
.port_right_box
    .port_main
    .main
    .main_list
    ul
    li.yh
    a.m_list:hover
    .main_info
    .logo {
    box-shadow: inset 0 -12px 0 #62c1b3;
}
.port_right_box
    .port_main
    .main
    .main_list
    ul
    li.bb
    a.m_list:hover
    .main_info
    .logo {
    box-shadow: inset 0 -12px 0 #e5c7c1;
}
.port_right_box
    .port_main
    .main
    .main_list
    ul
    li.dl
    a.m_list:hover
    .main_info
    .logo {
    box-shadow: inset 0 -12px 0 #7296cc;
}
.port_right_box
    .port_main
    .main
    .main_list
    ul
    li.cm
    a.m_list:hover
    .main_info
    .logo {
    box-shadow: inset 0 -12px 0 #f5be4e;
}
.port_right_box
    .port_main
    .main
    .main_list
    ul
    li.mb
    a.m_list:hover
    .main_info
    .logo {
    box-shadow: inset 0 -12px 0 #44247d;
}
.port_right_box
    .port_main
    .main
    .main_list
    ul
    li.dg
    a.m_list:hover
    .main_info
    .logo {
    box-shadow: inset 0 -12px 0 #ffa359;
}
.port_right_box
    .port_main
    .main
    .main_list
    ul
    li.bk
    a.m_list:hover
    .main_info
    .logo {
    box-shadow: inset 0 -12px 0 #e32519;
}
.port_right_box
    .port_main
    .main
    .main_list
    ul
    li.fo
    a.m_list:hover
    .main_info
    .logo {
    box-shadow: inset 0 -12px 0 #612bbb;
}

.port_right_box
    .port_main
    .main
    .main_list
    ul
    li
    a.m_list
    .main_info
    .view_btn {
    position: absolute;
    right: 40px;
    bottom: 0;
    background: #fff;
    width: 130px;
    font-size: 0.95em;
    font-weight: bold;
    line-height: 3;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}
.view_btn::before,
.view_btn::after,
.view_btn span::before,
.view_btn span::after {
    content: "";
    position: absolute;
    transition: all 0.1s;
    background-color: #555;
}
.view_btn::before {
    height: 2px;
    width: 0;
    top: 0;
    left: 0;
    transition-delay: 0.4s;
}
.view_btn::after {
    width: 2px;
    height: 0;
    top: 0;
    right: 0;
    transition-delay: 0.3s;
}
.view_btn span::before {
    height: 2px;
    width: 0;
    bottom: 0;
    right: 0;
    transition-delay: 0.2s;
}
.view_btn span::after {
    width: 2px;
    height: 0;
    bottom: 0;
    left: 0;
    transition-delay: 0.1s;
}
a.m_list:hover .view_btn::before,
a.m_list:hover .view_btn span::before {
    width: 100%;
    transition: all 0.1s;
}
a.m_list:hover .view_btn::after,
a.m_list:hover .view_btn span::after {
    height: 100%;
    transition: all 0.1s;
}
a.m_list:hover .view_btn::after {
    transition-delay: 0.1s;
}
a.m_list:hover .view_btn span::before {
    transition-delay: 0.2s;
}
a.m_list:hover .view_btn span::after {
    transition-delay: 0.3s;
}
a.m_list:hover .view_btn {
    letter-spacing: 2px;
}

/* 사이즈 조절 */
@media (max-width: 1580px) {
    .port_right_box .port_main .main {
        padding: 0 5%;
    }
    .port_right_box .port_main .main .main_tit {
        margin-bottom: 25px;
    }
    .port_right_box .port_main .main .main_tit > p {
        font-size: 20px;
    }
    .port_right_box .port_main .main .main_list ul li {
        margin-bottom: 30px;
    }
    .port_right_box .port_main .main .main_list ul li a .m_img {
        margin-right: 25px;
    }
    .port_right_box .port_main .main .main_list ul li a .main_info .theme {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .port_right_box .port_main .main .main_list ul li a .main_info .logo {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 28px;
    }
}
@media (max-width: 1008px) {
    .port_right_box .port_main .main .main_list ul li a .m_img img {
        width: 100%;
    }
}
@media (max-width: 940px) {
    .port_right_box .port_main .main {
        padding: 0 3%;
    }
    .port_right_box .port_main .main .main_list ul li a .main_info .theme {
        font-size: 10px;
        margin-bottom: 3px;
        letter-spacing: 4px;
    }
    .port_right_box .port_main .main .main_list ul li a .main_info .logo {
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 15px;
    }
}
@media (max-width: 800px) {
    .port_left {
        float: none;
        display: block;
        width: 100%;
        height: auto;
    }
    .port_left .port_left_box {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 100% 0 53%;
        background-size: 100%;
        z-index: 10;
    }
    .port_left .port_left_box .leftbox_01 {
        height: 100%;
    }
    .port_right {
        float: none;
        width: 100%;
        overflow-y: auto;
        box-sizing: border-box;
    }
    .port_right .port_right_box {
        clear: both;
        padding-top: 10px;
        padding-bottom: 30px;
        height: auto;
    }
    .port_right .port_right_box .port_main {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 5% 0 0 0;
        box-sizing: border-box;
    }
    .port_right .port_right_box .port_main .main {
        padding: 15px 10px;
    }
    .port_right .port_right_box .port_main .main .main_tit {
        margin-bottom: 15px;
        padding-top: 10px;
    }
    .port_right .port_right_box .port_main .main .main_list ul li {
        margin-bottom: 18px;
    }
    .port_right .port_right_box .port_main .main .main_list ul li a .m_img {
        width: 42%;
        margin-right: 10px;
    }
    .port_right_box .port_main .main .main_list ul li a .main_info {
        width: 58%;
        padding-right: 10px;
    }
    .port_right_box .port_main .main .main_list ul li a .main_info .logo {
        font-size: 14px;
        letter-spacing: -1px;
        margin-bottom: 6px;
    }
}
@media (max-width: 680px) {
    .port_left .port_left_box .leftbox_02 {
        position: absolute;
        bottom: 1px;
        width: 90%;
        height: auto;
        margin-left: 5%;
        line-height: 14px;
        font-size: 14px;
        text-align: center;
        padding: 4px 2px 0 2px;
        box-sizing: border-box;
    }
}

/* process_page */

section.prc_page .prc_wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

section.prc_page .prc_wrap .prc_header {
    width: 100%;
    height: 50vh;
    position: relative;
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_02.png);
}
section.prc_page .prc_wrap .prc_header:after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    background: #fdbe00;
    top: 50%;
    transform: translateY(-50%);
    animation: move 3s forwards;
}
@keyframes move {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
section.prc_page .prc_wrap .prc_header .hd_cover {
    width: 450px;
    height: 450px;
    box-shadow: 0px 0px 70px #fdbe00;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
}
section.prc_page .prc_wrap .prc_header .hd_cover .hd_box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
}
section.prc_page .prc_wrap .prc_header .hd_cover .hd_box img.logo {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
}
section.prc_page .prc_wrap .prc_header .hd_box img.gif_bg {
    position: absolute;
    top: -150px;
}

/* prc_menu */
section.prc_page .prc_wrap .prc_menu {
    position: relative;
    display: block;
    width: 100%;
    height: 50vh;
}
section.prc_page .prc_wrap .prc_menu .menu_wrap {
    height: 100%;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}
section.prc_page .prc_wrap .prc_menu .menu_wrap h3 {
    box-sizing: border-box;
    float: left;
    width: 40%;
    font-size: 25px;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 50px;
}
section.prc_page .prc_wrap .prc_menu .menu_wrap h3 img {
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: -10px;
    animation: turn 8s infinite linear;
}
@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
section.prc_page .prc_wrap .prc_menu .menu_wrap span {
    box-sizing: border-box;
    float: right;
    width: 60%;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
section.prc_page .prc_wrap .prc_menu .menu_wrap span p {
    font-size: 17px;
    font-weight: normal;
    line-height: 3;
    transition: all 0.5s;
}
section.prc_page .prc_wrap .visual .menu_wrap span p {
    color: #fff2ef;
}

/* overview page */
section.prc_page .prc_wrap .overview {
    background: #fff2ef;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px inset,
        rgba(0, 0, 0, 0.23) 0px 6px 6px inset;
}

/* visual page */
section.prc_page .prc_wrap .visual {
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_02.png);
}
section.prc_page .prc_wrap .visual .menu_wrap h3 {
    color: #fff2ef;
}
/* color_box*/
section.prc_page .prc_wrap .color_box {
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_02.png);
}
section.prc_page .prc_wrap .color_box .menu_wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
}
section.prc_page .prc_wrap .color_box .menu_wrap .prc_color {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}
section.prc_page .prc_wrap .color_box .menu_wrap img.color {
    height: auto;
    width: 100%;
    margin-top: 30px;
    box-shadow: -1px 1px 11px 1px rgba(255, 242, 239, 0.49);
}
/* typo page */
section.prc_page .prc_wrap .typo {
    background: #fff2ef;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px inset,
        rgba(0, 0, 0, 0.23) 0px 6px 6px inset;
}
section.prc_page .prc_wrap .prc_menu .menu_wrap span .typo_img {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
section.prc_page .prc_wrap .prc_menu .menu_wrap span .typo_img img {
    display: inline-block;
    float: left;
    width: 48%;
    box-sizing: border-box;
}
section.prc_page .prc_wrap .prc_menu .menu_wrap span .typo_img img:last-child {
    margin-left: 30px;
}
section.prc_page .prc_wrap .prc_space {
    width: 100%;
    height: 20vh;
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_02.png);
}
/* 페이지 */
section.prc_page .prc_wrap .page_box {
    background: #fff2ef;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px inset,
        rgba(0, 0, 0, 0.23) 0px 3px 6px inset;
    box-sizing: border-box;
    border: 1px solid transparent;
}
section.prc_page .prc_wrap .page_box .page_wrap {
    display: block;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_01 {
    display: block;
    max-width: 1700px;
    margin: 0 auto;
    margin-bottom: 100px;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_01 .page_tit {
    margin-top: 50px;
    padding: 10px 50px;
    display: block;
    text-align: center;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_01 .page_tit h4 {
    font-size: 20px;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_01 .page_tit span {
    display: block;
    margin-top: 50px;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_01 .page_tit span p {
    font-size: 17px;
    font-weight: normal;
    line-height: 3;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_01 .page_img {
    border-radius: 50px;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_01 .page_img img {
    display: block;
    width: 100%;
    height: 100%;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_02 {
    display: block;
    width: 100%;
    height: 75vh;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_02 .page_img {
    position: absolute;
    right: 0;
    top: 100px;
    width: 90%;
    height: 600px;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_02 .page_img img {
    display: block;
    width: 100%;
    max-width:1500px;
    height: auto;
    float:right;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_02 .page_tit {
    position: absolute;
    bottom: 0;
    right: 10%;
    text-align: right;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_02 .page_tit h4 {
    font-size: 20px;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_02 .page_tit span {
    margin-top: 30px;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_02 .page_tit span p {
    font-size: 17px;
    font-weight: normal;
    line-height: 3;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_03 {
    display: block;
    width: 100%;
    height: 75vh;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_03 .page_img {
    position: absolute;
    left: 0;
    top: 100px;
    width: 90%;
    height: 600px;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_03 .page_img img {
    display: block;
    width: 100%;
    max-width:1500px;
    height: auto;
    float:left;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_03 .page_tit {
    position: absolute;
    bottom: 0;
    left: 10%;
    text-align: left;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_03 .page_tit h4 {
    font-size: 20px;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_03 .page_tit span {
    margin-top: 30px;
}
section.prc_page .prc_wrap .page_box .page_wrap .page_03 .page_tit span p {
    font-size: 17px;
    font-weight: normal;
    line-height: 3;
}
/* prc_footer */
.prc_footer {
    display: table;
    width: 100%;
    height: 20vh;
    background: url(https://chaeyeon3241.github.io/portfolio_21/pt_02.png);
}
.prc_footer span {
    color: #fff2ef;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 23px;
}
/* process_사이즈조절 */
@media (max-width: 1300px) {
    section.prc_page .prc_wrap .prc_menu .menu_wrap h3 {
        float: none;
        display: block;
        width: 100%;
        height: auto;
        z-index: 1;
        top: 15%;
        transform: translateY(0);
        padding-left: 0;
        text-align: center;
    }
    section.prc_page .prc_wrap .prc_menu .menu_wrap span {
        float: none;
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
    }
    section.prc_page .prc_wrap .typo {
        height: 80vh;
    }
    section.prc_page .prc_wrap .typo .menu_wrap span {
        top: 35%;
    }
    section.prc_page .prc_wrap .typo .menu_wrap span .typo_img {
        margin-top: 50px;
        display: block;
        width: 80%;
    }
    section.prc_page .prc_wrap .typo .menu_wrap span .typo_img img {
        display: block;
        width: 100%;
    }
    section.prc_page
        .prc_wrap
        .prc_menu
        .menu_wrap
        span
        .typo_img
        img:last-child {
        margin-left: 0;
        margin-top: 30px;
    }
    section.prc_page .prc_wrap .page_box .page_wrap .page_02 .page_img,
    section.prc_page .prc_wrap .page_box .page_wrap .page_03 .page_img {
        position: absolute;
        right: 0;
        top: 100px;
        width: 100%;
        height: auto;
        transition: all 0.3s;
    }
    section.prc_page .prc_wrap .page_box .page_wrap .page_02 .page_tit,
    section.prc_page .prc_wrap .page_box .page_wrap .page_03 .page_tit {
        bottom: 15%;
        right: 5%;
        transition: all 0.3s;
    }
}
@media (max-width: 900px) {
    section.prc_page .prc_wrap .prc_menu .menu_wrap span p {
        font-size: 15px;
        transition: all 0.5s;
    }
}
